@use "../../assets/styles/_variables" as *;

.book-info-tile {
  width: 20rem;
  height: calc(100% - 5.5rem);
  padding: 1rem;
  border-radius: 0.625rem;
  background-color: $book-tile-background-color;
}