@use "../../assets/styles/_variables" as *;

.home {
  // to move it below the header
  padding-top: 11.5rem;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $mobile-background-color;

  &__header {
    margin-bottom: 1rem;
    font-size: 22px;
    font-weight: normal;
    font-family: $heading-font-family;
    color: $heading-color;
  }
}

// tablets, but scales for desktops too
@media only screen and (min-width: 641px) {
  .home {
    
    &__book-tiles {
      width: 85vw;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}