@use "../../assets/styles/_variables" as *;

.book-tile {

  background-color: $book-tile-background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15.5rem;
  padding: 0.625rem;
  border-radius: 0.625rem;
  margin: 0 0.625rem 1.25rem 0.625rem;

  &__title {
    font-size: 16px;
    font-family: $heading-font-family;
    color: $book-tile-header-color;
    font-weight: normal;
    text-align: center;
    margin-bottom: 0.2rem;
  }

  &__author {
    font-size: 12px;
    font-family: $body-font-family;
    color: $book-tile-author-color;
    font-weight: normal;
    text-align: center;
  }

  &__genres {
    font-size: 12px;
    font-family: $body-font-family;
    color: $book-tile-header-color;
    font-weight: normal;
    text-align: center;
  }
}