@use "../../assets/styles/_variables" as *;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1.5rem;
  background-color: $header-mobile-color;
  border-radius: 0 0 1.25rem 1.25rem;

  &__heading {
    font-size: 40px;
    font-family: $logo-font-family;
    margin-bottom: 0.5rem;
    color: $heading-color;
    font-weight: 500;
  }
}