@use "../../assets/styles/_variables" as *;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1.5rem;
  background-color: $header-mobile-color;
  border-radius: 0 0 1.25rem 1.25rem;
  position: fixed;
  top: 0%;
  width: 100%;
  height: 10.25rem;

  &__heading {
    font-size: 40px;
    font-family: $logo-font-family;
    margin-bottom: 0.5rem;
    color: $heading-color;
    font-weight: 500;
  }

  &__interactive-features{
    > button {
      display: none;
    }
  }
}

// tablets
@media only screen and (min-width: 641px) {
  .header {
    background-color: $navbar-background-color;

    &__heading {
      font-size: 60px;
      color: $search-box-color;
    }


    &__interactive-features {
      display: flex;
      align-items: center;

      > button {
        display: block;
      }
    }
  }
}

// desktops
@media only screen and (min-width: 1008px) {
	// only happens after screen > 768px
	// write code in here
}
