@use "../../assets/styles/_variables" as *;

.nav-bar {
  width: 100%;
  height: 4.5rem;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0%;
  background-color: $navbar-background-color;
}

// tablets
@media only screen and (min-width: 641px) {
  .nav-bar {
    display: none;
  }
}