$logo-font-family: 'Nanum Brush Script', cursive;
$heading-font-family: 'Libre Baskerville', serif;
$body-font-family: 'Inter', sans-serif;

$search-box-color: #FFFFFF;
$search-box-placeholder-text: #CBC7C4;
$search-box-icon: #958B87;

$header-mobile-color: #F8F3ED;

$heading-color: #493730;

$book-tile-background-color: #E5E5E5;
// header color is also the author color
$book-tile-header-color: #28140C;
$book-tile-author-color: #ADA5A1;

$mobile-background-color: #FEFEFE;

$navbar-background-color: #CA9C56;
$navbar-btn-active-color: #FFFFFF;
$navbar-btn-inactive-color: #E0B97E;

