$logo-font-family: 'Nanum Brush Script', cursive;
$heading-font-family: 'Libre Baskerville', serif;
$body-font-family: 'Inter', sans-serif;

$search-box-color: #FFFFFF;
$search-box-placeholder-text: #CBC7C4;
$search-box-icon: #958B87;

$header-mobile-color: #F8F3ED;

$heading-color: #493730;

